body{
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
font-size: 20px;
line-height: 2.0;
}

h2{
padding-top: 10px;
}
#content {
margin-left: 57px;
margin-top: 40px;
}
#register label{
margin-right:3px;
}

#register .weak{
font-weight:bold;
color:red;
font-size:medium;
}
#register .good{
font-weight:bold;
color:yellow;
font-size:medium;
}
#register .strong{
font-weight:bold;
color: green;
font-size:medium;
}